:root {
    --highlight-color: rgb(0,190,0)
}

.result-url {
    color: var(--highlight-color);
}

.search-result {
    text-align: justify;
}

button {
    color: black;
}

#selectionBtns{
    margin-top:14px;
}

input {
    color: black;
    width: inherit;
}